
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="cards.css"/>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  <style type="text/css">
    body {
      background-color: #37343A;
    }

    #header {
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      color: #fff;
      margin-top: 75px;
    }

    #header p {
      margin-top:5px;
      font-size:4em;
      text-shadow: 1px 1px 1px #000000;
      filter: dropshadow(color=#000000, offx=1, offy=1);
    }

    #canvas {
      text-align:center;
    }
    #canvas button {
      border:0;
      background-color: #FCE5A5;
      font-family: 'Roboto Condensed', sans-serif;
      font-size:1.5em;
      color: #37343A;
      border-radius: 6px;
      padding: 0.6em 1em;
      box-shadow: 1px 1px 1px #000000;
    }

    #canvas button:hover {
      background-color: #666;
    }
  </style>
</head>
<body>
  <div id="header">
    <img src="logo.png"/>
    <p>Trello Printer</p>
  </div>

  <div id="canvas">
    
  </div>

  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://api.trello.com/1/client.js?key=b40154d674db60e94c62a035d0d94684"></script>
  <script src="http://documentcloud.github.com/underscore/underscore-min.js" type="text/javascript"></script>
  <script type="text/javascript">
    (function(){ 

      var body = $('#canvas');

      function showBoards() {
        body.empty()
        Trello.get('members/me/boards', {filter: 'open'}, function(boards){
          $.each(boards, function(index, board){
            var html = $("<li><a href='#' data-board-id='" + board.id + "' data-board-name='" + board.name + "'>" + board.name + "</a></li>")

            body.append(html)
          })

          body.find('a').on('click', function(){
            showCards($(this).data("board-id"), $(this).data("board-name"))
          });
        }, handleErrors);
      }

      function showCards(boardId, boardName) {
        Trello.get('boards/' + boardId + '/cards/open', function(cards) {
          print(cards, boardName)
        })
      }

      function print(cards, boardName) {

        var make_front = _.template(
          '<div class="card" id="front-<%= cardno %>">' +
          '  <div class="front side">' +
          '    <div class="header">' +
          '      <span class="labels">' +
          '<% _.each(labels, function(label) { %> <span class="label"><%= label %></span> <% }); %>' +
          '      <span>' +
          '    </div>' +
          '    <div class="middle">' +
          '      <div class="story-title"><%= name %></div>' +
          '    </div>' +
          '    <div class="footer">' +
          '      <span class="points points<%= points %>"><span><%= points || "" %></span></span>' +
          '    </div>' +
          '  </div>' +
          '</div>');

        var make_back = _.template(
          '<div class="card" id="back-<%= cardno %>">' +
          '  <div class="back side">' +
          '    <div class="header">' +
          '      <span class="project"><%= project_name %></span>' +
          '    </div>' +
          '    <div class="middle">' +
          '      <div class="story-title"><%= name %></div>' +
          '      <div class="description"><%= description %></div>' +
          '      <table class="tasks">' +
          '<% _.each(tasks, function(task) { %><tr>' +
          '      <td class="check <%= task.complete ? "complete" : "incomplete" %>"><%= task.complete ? "☑" : "☐" %></td>' +
          '      <td class="task"><%= task.description %></td>' +
          '</tr><% }); %>' +
          '      </table>' +
          '    </div>' +
          '    <div class="footer">' +
          '    </div>' +
          '  </div>' +
          '</div>');

          var fronts      = [];
          var backs       = [];

          $('body > *').hide();

          var main = $('<div id="pivotal-cards-pages" class="filing-colours"></div>');

          $(document).keyup(function(e) {
            if (e.keyCode == 27) { 
              main.remove();
              $('body > *').show();
              $('body').css("background-color", "#37343A")
            } 
          });
          
          $('body').css("background-color", "#fff").append(main);

          var cardCount = cards.length;
          var cardBuildIndex = 0;

          _.each(cards, function(card) {

              var labels = _.chain(card.labels)
                            .map(function(label){ return label.name })
                            .reject(function(label) { return !label; })
                            .value()

              var item = {
                cardno       : card.idShort,
                id           : card.id,
                name         : card.name,
                description  : card.desc,
                project_name : boardName,
                tasks        : [],
                points       : "",
                labels       : labels
              };

              if(card.idChecklists[0]) {
                Trello.checklists.get(card.idChecklists[0], function(checklist){
                  _.each(checklist.checkItems, function(checkItems){
                    item.tasks.push({
                      description: checkItems.name,
                      complete: checkItems.state == 'complete'
                    })
                  })

                  fronts.push($(make_front(item)));
                  backs.push($(make_back(item)));
                  cardBuildIndex++
                })
              } else {
                cardBuildIndex++
                fronts.push($(make_front(item)));
                backs.push($(make_back(item)));
              }
          })

          var interval = setInterval(function(){
            if(cardCount == cardBuildIndex) {
              clearTimeout(interval);
              printCards();

            }
          }, 100);

          function printCards(){
            var cardno;
            var front_page;
            var back_page;

            for (cardno = 0; cardno < fronts.length; cardno++) {
              if ((cardno % 4) === 0) {
                front_page = $('<div class="page fronts"></div>');
                main.append(front_page);

                back_page = $('<div class="page backs"></div>');
                main.append(back_page);
              }
              front_page.append(fronts[cardno]);
              back_page.append(backs[cardno]);
            }
          }
      }

      function onAuthorize() {

        showBoards();

      }

      function auth() {
        Trello.authorize({
          type       : "redirect",
          success    : onAuthorize,
          name       : "Trello Cards",
          expiration : "1hour",            
          persist    : true
        })        
      }



      function handleErrors(xhr, message, error) {

        if(xhr.status == 401) {
          Trello.deauthorize()
          auth()
        }
        console.log(arguments)
      }

      if(/[&#]?token=([0-9a-f]{64})/.test(location.hash)){
        auth()
      } else {
        var authoriseButton = $('<button id="authorise">Authorise with Trello</button>').on('click', function(){
          if(Trello.authorized()){
            onAuthorize()
          } else {
            auth()
          }
        })
        body.append(authoriseButton)
      }
    })()
  </script>
</body>
</html>
